node_modules/

dist/
out/

.electron-builder-cache/

*.log
logs/

.env
.env.*

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.suo
*.user

bin/yt-dlp
bin/yt-dlp.exe
bin/ffmpeg
bin/ffmpeg.exe
bin/ffprobe
bin/ffprobe.exe

src/js/cookies.txt